extends layout
- var title = 'Nova Prova'
block content
    h3.page-header Nova Prova
    form.form(method="POST", action=url_for('newprov'))
        div.col-xs-12.col-sm-6
            div.form-group.input-group
                label Dificuldade:
                select.input.input-lg.form-control(id='input-dificuldade', name='dificuldade')
                    option(value='1') Facil
                    option(value='2') Medio
                    option(value='3') Dificil
            div.form-group.input-group
                label Conteudo das Questoes:
                select.input.input-lg.form-control(id='input-tipo', name='tipo')
                    option(value='1') Adicao/Subtracao
                    option(value='2') Multiplicacao
                    option(value='3') Divisao
                    option(value='4') Potenciacao
                    option(value='5') Radiciacao
            div.form-group.input-group
                label Quantidade de Questoes:
                input.input.input-lg.input-prova.form-control(name='qtd',id='input-qtd',autocomplete="off",autofocus)
            div.form-group.input-group
                button.btn.btn-lg.btn-success(type='submit') Cadastrar
end block
