extends layout
- var title = 'AMAMB'
block content
	h2.text-center Bem-vindo ao AMAMB!
	a(href=url_for('question'))
		div.col-xs-4.index-icon.icon-pencil.text-center Praticar
	a(href=url_for('pre'))
		div.col-xs-4.index-icon.icon-note.text-center Prova
	a(href=url_for('logar'))
		div.col-xs-4.index-icon.icon-student.text-center Professor
end content
