extends layout
- var title = 'Area do Professor'
block content
	h3.page-header Opções
	div.col-sm-6.col-sm-offset-2
		a.btn.btn-lg.btn-block.btn-default(href=url_for('view_prov')) Provas
		a.btn.btn-lg.btn-block.btn-default(href=url_for('res_prov')) Resultados
		a.btn.btn-lg.btn-block.btn-default(href=url_for('cad_prov')) Nova prova
		a.btn.btn-lg.btn-block.btn-default(href=url_for('change')) Alterar senha
end content
