extends layout
- var title = 'Login Professor'
block content
    h3.page-header Login
    form(method="POST", action=url_for('login'))
        div.col-xs-12.col-sm-6
            div.input-group
                p
                    h4 Usuario:
                input.input.input-lg.input-email.form-control(name='user',id='input-user',autocomplete="off",autofocus)
                br
                br
                p
                    h4 Senha:
                input.input.input-lg.input-prova.form-control(name='key',id='input-key',autocomplete="off",autofocus, type='password')
                br
                br
                button.btn.btn-lg.btn-success(type='submit') Entrar
                br
                br
                p
                    a.btn.btn-lg.btn-success(href=url_for('cad_prof')) Novo Usuario

end block