extends layout
- var title = 'Login Professor'
block content
    h3.page-header Login
    div.row
        form.form(method="POST", action=url_for('login'))
            div.col-sm-6
                div.form-group
                    label(for="input-user") Usuario:
                    input.input.input-lg.input-email.form-control(name='user',id='input-user',autocomplete="off",autofocus)
                div.form-group
                    label(for="input-key") Senha:
                    input.input.input-lg.input-prova.form-control(name='key',id='input-key',autocomplete="off",autofocus, type='password')
                button.btn.btn-lg.btn-success(type='submit') Cadastrar
                a(href=url_for('forgot')) Esqueci minha senha
    br
    div.row
        form.form(action=url_for('cad_prof'))
            div.col-sm-6
                button.btn.btn-lg.btn-success(type='submit') Novo Professor



end block
