extends layout
- var title = 'Login Aluno'
block content
	h3.page-header Cabeçalho de Prova
	form.form(method="POST", action=url_for('prova'))
		div.col-sm-6
			div.form-group
				label(for="input-nome") Nome:
				input.input.input-lg.form-control(name='nome',id='input-nome',autocomplete="off",autofocus)
			div.form-group
				label(for="input-nome") Email:
				input.input.input-lg.form-control(name='email',id='input-email',autocomplete="off",autofocus)
			div.form-group
				label(for="input-prova") Prova:
				input.input.input-lg.form-control(name='prova',id='input-prova',autocomplete="off",autofocus)
			button.btn.btn-lg.btn-success(type='submit') Começar
end block
