extends layout
- var title = 'Prova'
block content
    h3.page-header Prova
    p Aluno: #{nome}
    br
    p Email do aluno: #{email}
    br
    p Prova: #{prova}
    a.btn.btn-lg.btn-success(href=url_for('question')) Iniciar prova
end block