extends layout
- var title = 'AMAMB - Questao'
block content
	h3.page-header Acertos: #{acertos}
	form(method="POST", action="/solve/teste")
		label.col-xs-4.col-md-6.control-label(for='resp-input',id='label-pergunta') `#{expressao}`
		div.col-xs-1.col-md-1 =
		div.col-xs-4.col-md-4
			input.input.form-control.resp-input(name='resposta',id='resp-input',autocomplete="off",autofocus)
		div.col-xs-2.col-md-1
			button.btn.btn-primary(type='submit') &gt;&gt;
end block
block script
	script(type='text/x-mathjax-config').
		MathJax.Hub.Config({
			messageStyle: "none",
			showMathMenu: false,
			jax: ["input/AsciiMath","output/CommonHTML"],
			extensions: ["asciimath2jax.js"],
			elements: ["label-pergunta"],
		});
	script(src='//cdn.mathjax.org/mathjax/latest/MathJax.js', type='text/javascript', async)
end block
