extends layout
- var title = 'AMAMB - Questao'
block content
	ul	
		p Acertos: #{acertos}
		p #{expressao} = ?
		form(method="POST", action="/solve/teste")
			input(type='text', name='resposta', placeholder='Resposta')
			br
			br
			input(type='submit')
end block