extends layout
- var title = 'Recuperacao de Senha'
block content
    h3.page-header Recuperacao de senha
    form(method="POST", action=url_for('renew'))
        div.col-xs-12.col-sm-6
            div.input-group
                p
                    h4 Senha:
                    input.input.input-lg.input-prova.form-control(name='key1',id='input-key1',autocomplete="off",autofocus, type='password')
                    br
                p
                    h4 Cornfirme a senha:
                    input.input.input-lg.input-prova.form-control(name='key2',id='input-key2',autocomplete="off",autofocus, type='password')
                br
                button.btn.btn-lg.btn-success(type='submit') Alterar
        input(type='hidden', name='tipo', id='tipo', value='1')
end block