extends layout
- var title = 'Resultados'
block content
    h3.page-header #{mensagem} #{variavel}
    div.col-xs-11(id="chart-view",style="min-height: 360px;")
end content

block script
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js', type='text/javascript')
    script(src='//www.gstatic.com/charts/loader.js', type='text/javascript')
    script(type='text/javascript').
        $(function(){
            google.charts.load('current',{'packages':['corechart']});
            var chartLoaded = function(){
                var chart = new google.visualization.BarChart($('#chart-view').get(0));
                var data = new google.visualization.DataTable();
                data.addColumn('string','Nome');
                data.addColumn('number','Acertos');
                var chartDataCallback = function(){
                    $.ajax({
                        url: '#{url_for('api_res_prov')}',
                        dataType: 'json'
                    }).done(function(json){
                        var currentRows = data.getNumberOfRows();
                        if(currentRows < json.resultados.length){
                            data.addRows(json.resultados.length);
                        }
                        for(var i = 0; i < json.resultados.length; i++){
                            data.setCell(i,0,json.resultados[i][0]);
                            data.setCell(i,1,json.resultados[i][1]);
                        }
                        var options = {
                            'title': 'Acertos por aluno',
                            hAxis: { 
                                viewWindowMode:'explicit',
                                viewWindow: {
                                    min: 0,
                                    max: json.resultados[0][3],
                                }
                            }
                        };
                        chart.draw(data,options);
                    });
                };
                chartDataCallback();
                setInterval(chartDataCallback,10000);
            };
            google.charts.setOnLoadCallback(chartLoaded);
        });
end script

