extends layout
- var title = 'Sobre'
block content
    h3.page-header Sobre
    p Open Source lightweight Web App that dynamically generates basic mathematical problems. It's intended to provide an intuitive practical experience to students in basic education.
end block

