body {
  font-family: sans-serif;
  background-color: #e0e0e0;
}

div#main-container {
  padding: 20px;
  background-color: #F5F5F5;
  max-width: 800px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

div#content-container {
	max-width: 800px;
}

div#top-bar-wrapper {
	padding-top: 5px;
}

div#top-bar {
	max-width: 800px;
	max-height: 65px;
	overflow: hidden;
}

div#footer {
	font-size: 12px;
	padding-top: 10px;
}

div.index-icon {
	padding-top: 100px;
	display: inline-block;
	background-size: 70px 70px;
	background-position: center;
	background-repeat: no-repeat;
	font-size: 18px;
}

div.index-icon.icon-pencil {
	background-image: url('/static/pencil-icon.png');
}

div.index-icon.icon-note {
	background-image: url('/static/note-icon.png');
}

div.index-icon.icon-student {
	background-image: url('/static/student-icon.png');
}

.text-default {
	font-size: 28px;
}

.input-resp {
	font-size: 24px;
}

.question-container {
	overflow-x: auto;
}

form.form {
	font-size: 22px;
}

div.user-name {
	font-size: 18px;
	padding-top: 12px;
}

div.question-input-container {
	padding-left: 0;
	padding-right: 0;
}
