body {
  font: 28px sans-serif;
  background-color: #e0e0e0;
}

div#main-container {
  padding: 20px;
  background-color: #F5F5F5;
}

div#content-container {
	max-width: 1024px;
}

div#top-bar-wrapper {
	border-bottom: solid 1px #E8E8E8;
	padding-top: 2px;
	padding-bottom: 2px;
}

div#top-bar {
	max-width: 1024px;
}

div#footer {
	font-size: 12px;
	padding-top: 10px;
	border-top: solid 1px #E8E8E8;
}

div.index-icon {
	padding-top: 100px;
	display: inline-block;
	background-size: 70px 70px;
	background-position: center;
	background-repeat: no-repeat;
	font-size: 18px;
}

div.index-icon.icon-pencil {
	background-image: url('/static/pencil-icon.png');
}

div.index-icon.icon-note {
	background-image: url('/static/note-icon.png');
}

div.index-icon.icon-student {
	background-image: url('/static/student-icon.png');
}

.text-default {
	font-size: 28px;
}

.input-resp {
	font-size: 24px;
}

.question-container {
	overflow-x: auto;
}